<footer class="footer">
    <span class="dmg-decor-top"></span>
    <div class="container">
        <div class="themevale_topFooter">
            <h4 class="text">{{theme_settings.footer-top-content}}</h4>
            <a class="phone" href="tel:{{theme_settings.footer-top-button}}">{{theme_settings.footer-top-button}}</a>
        </div>
        <div class="themevale_middleFooter">
            <div class="footer-info themevale_footer-info col-5">
                <div class="footer-info-col" data-section-type="newsletterSubscription">
                    <div class="item">
                        {{#if settings.show_newsletter_box}}
                        {{> components/common/subscription-form}}
                        {{/if}}
                    </div>
                    <div class="item">
                        {{> components/common/social-links}}
                    </div>
                </div>
                <div class="footer-info-col footer-info-col--small footer-dropdownmobile"
                    data-section-type="footer-categories">
                    <h5 class="footer-info-heading">
                        <span>{{lang 'footer.shop'}}</span>
                        <svg class="icon-dropdown">
                            <use xlink:href="#icon-chevron-down"></use>
                        </svg>
                    </h5>
                    <ul class="footer-info-list">
                        {{#each (limit categories 9)}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="footer-info-col footer-info-col--small footer-dropdownmobile"
                    data-section-type="footer-webPages">
                    <h5 class="footer-info-heading">
                        <span>{{lang 'footer.info'}}</span>
                        <svg class="icon-dropdown">
                            <use xlink:href="#icon-chevron-down"></use>
                        </svg>
                    </h5>
                    <ul class="footer-info-list">
                        {{#each (limit pages 9)}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="footer-info-col footer-info-col--small footer-dropdownmobile">
                    <h5 class="footer-info-heading">
                        <span>{{lang 'footer.contact'}}</span>
                        <svg class="icon-dropdown">
                            <use xlink:href="#icon-chevron-down"></use>
                        </svg>
                    </h5>
                    <ul class="footer-info-list">
                        <li class="store-address"><svg class="icon">
                                <use xlink:href="#icon-location-2"></use>
                            </svg>{{nl2br settings.address}}</li>
                        <li class="store-phone"><svg class="icon">
                                <use xlink:href="#icon-telephone-2"></use>
                            </svg>
                            <p>{{theme_settings.footer-middle-phone1}}</p>
                            <p>{{theme_settings.footer-middle-phone2}}</p><a class="ask_an_expert" href="#"
                                data-reveal-id="ask-an-expert">{{lang 'footer.ask_an_expert'}}</a>
                        </li>
                        <li class="store-email"><svg class="icon">
                                <use xlink:href="#icon-envelope-2"></use>
                            </svg><a href="mailto:{{theme_settings.footer-middle-email}}">Email:
                                {{theme_settings.footer-middle-email}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="themevale_bottomFooter">
        <div class="container themevale_bottomFooter_container">
            <div class="item">
                {{#if theme_settings.show_copyright_footer}}
                <div class="footer-copyright">
                    <p class="powered-by">Copyright &copy; {{moment format="YYYY"}} {{settings.store_name}} - All Rights
                        Reserved.</p>
                </div>
                {{/if}}
            </div>
            <div class="item">
                {{> components/common/payment-icons}}
            </div>
        </div>
    </div>
</footer>
{{#if theme_settings.themevale_BackTop}}
<div id="back-to-top">
    <a href="javascript:void(0)"><svg class="icon">
            <use xlink:href="#icon-keyboard-arrow-down"></use>
        </svg></a>
</div>
{{/if}}


{{#if theme_settings.themevale_ask-an-expert}}
{{> components/themevale/ask-an-expert}}
{{/if}}

{{#if theme_settings.themevale_RecentlyBought}}
<div class="themevale_popup_left"></div>
{{/if}}

{{#if settings.privacy_cookie }}
<div class="themevale_popup_right">
    {{> components/common/cookie }}
</div>
{{/if}}
