---
products:
    new:
        limit: 8
    featured:
        limit: 8

carousel: {{theme_settings.homepage_show_carousel}}
---

<!-- ---
carousel: {{theme_settings.homepage_show_carousel}}
--- -->




{{#partial "hero"}}
{{#if carousel}}
{{> components/carousel arrows=theme_settings.homepage_show_carousel_arrows
dots=theme_settings.homepage_show_carousel_dots}}
{{/if}}
{{{snippet 'home_content'}}}
{{{region name="below_carousel"}}}
{{/partial}}
{{#partial "page"}}
{{#each shipping_messages}}
{{> components/common/alert-info message}}
{{/each}}
<div class="main full">
    <div class="main-shop-banner">
        <div class="container">
            <h2 class="page-heading">Your Discounted Motorcycle Gear<br> Headquarters!</h2>
            <p>Motorcycle Helmets & Motorcycle Apparel</p>
            <a class="button button--primary" href="/motorcycle-helmets/">Shop now</a>
        </div>
        <span class="dmg-decor-bottom"></span>
    </div>
    <div class="search-by-vehicle padding-bottom-50" id="search-by-vehicle">
        <div class="container">
            <h2 class="page-heading">Shop by vehicle</h2>
            <!-- <div id="ymm-container"></div> -->
            <div id="ymm-search"></div>
        </div>
    </div>
    {{#if products.new}}
    <div class="dmg-products padding-bottom-50">
        <div class="container">
            <h2 class="page-heading">DMG - Warehouse</h2>
            <div class="dmg-products__wrapper">
                <div id="dmg-products"></div>
                <a class="button button--primary" href="/warehouse/">
                    All DMG Products
                </a>
            </div>
        </div>
    </div>
    <div class="dmg-products dmg-products-dark-bg">
        <span class="dmg-decor-top"></span>
        <div class="container">
            <h2 class="page-heading">New Products</h2>
            {{> components/products/carousel-new products=products.new arrows=true}}
        </div>
        <span class="dmg-decor-bottom"></span>
    </div>
    {{/if}}
    <div class="dmg-categories">
        <div class="container">
            <div class="dmg-categories__inner">
                <a href="/motorcycle-helmets/" class="dmg-category">
                    <h3>Helmets</h3>
                    <img class="lazyload" src="https://caros-demo.mybigcommerce.com/content/loading.svg"
                        data-src="https://cdn11.bigcommerce.com/s-4n3dh09e13/images/stencil/original/image-manager/helmets-category.jpg"
                        alt="helmets" />
                </a>
                <a href="/motorcycle-jackets/" class="dmg-category">
                    <h3>Jackets</h3>
                    <img class="lazyload" src="https://caros-demo.mybigcommerce.com/content/loading.svg"
                        data-src="https://cdn11.bigcommerce.com/s-4n3dh09e13/images/stencil/original/image-manager/jackets.jpg"
                        alt="jackets" />
                </a>
                <a href="/motorcycle-pants/" class="dmg-category">
                    <h3>Pants</h3>
                    <img class="lazyload" src="https://caros-demo.mybigcommerce.com/content/loading.svg"
                        data-src="https://cdn11.bigcommerce.com/s-4n3dh09e13/images/stencil/original/image-manager/pants.jpg"
                        alt="pants" />
                </a>
                <a href="/motorcycle-boots-and-shoes/" class="dmg-category">
                    <h3>Boots</h3>
                    <img class="lazyload" src="https://caros-demo.mybigcommerce.com/content/loading.svg"
                        data-src="https://cdn11.bigcommerce.com/s-4n3dh09e13/images/stencil/original/image-manager/boots.jpg"
                        alt="boots" />
                </a>
                <a href="/motorcycle-gloves/" class="dmg-category">
                    <h3>Gloves</h3>
                    <img class="lazyload" src="https://caros-demo.mybigcommerce.com/content/loading.svg"
                        data-src="https://cdn11.bigcommerce.com/s-4n3dh09e13/images/stencil/original/image-manager/gloves.jpg"
                        alt="gloves" />
                </a>
                <a href="/warehouse-luggage-dmg/" class="dmg-category">
                    <h3>Luggage</h3>
                    <img class="lazyload" src="https://caros-demo.mybigcommerce.com/content/loading.svg"
                        data-src="https://cdn11.bigcommerce.com/s-4n3dh09e13/images/stencil/original/image-manager/luggage.jpg"
                        alt="luggage" />
                </a>
                <a href="/accessories/" class="dmg-category">
                    <h3>Accessories</h3>
                    <img class="lazyload" src="https://caros-demo.mybigcommerce.com/content/loading.svg"
                        data-src="https://cdn11.bigcommerce.com/s-4n3dh09e13/images/stencil/original/image-manager/accessories.jpeg"
                        alt="accessories" />
                </a>
                <a href="/#search-by-vehicle" class="dmg-category">
                    <h3>Parts</h3>
                    <img class="lazyload" src="https://caros-demo.mybigcommerce.com/content/loading.svg"
                        data-src="https://cdn11.bigcommerce.com/s-4n3dh09e13/images/stencil/original/image-manager/parts.jpeg"
                        alt="parts" />
                </a>
                <a href="/tire-search/" class="dmg-category">
                    <h3>Tires</h3>
                    <img class="lazyload" src="https://caros-demo.mybigcommerce.com/content/loading.svg"
                        data-src="https://cdn11.bigcommerce.com/s-4n3dh09e13/images/stencil/original/image-manager/tires.jpeg"
                        alt="tires" />
                </a>
            </div>
        </div>
    </div>
    {{#if products.featured}}
    <div class="dmg-products dmg-products--featured">
        <div class="container">
            <h2 class="page-heading">Featured Products</h2>
            <div class="dmg-products__inner">
                {{> components/products/carousel products=products.featured arrows=true}}
            </div>
        </div>
        <img class="lazyload" src="https://caros-demo.mybigcommerce.com/content/loading.svg"
            data-src="https://cdn11.bigcommerce.com/s-4n3dh09e13/images/stencil/original/image-manager/featured.jpeg?t=1675409372&_gl=1*13jvt6x*_ga*MTg4ODgxODc0Ni4xNjc0Njk3NDIz*_ga_WS2VZYPC6G*MTY3NTQwODI3Ny4yMi4xLjE2NzU0MDkzNzUuMzAuMC4w"
            alt="luggage" />
        <span class="dmg-decor-bottom"></span>
    </div>
    {{/if}}
    {{> components/themevale/category/brands-image-carousel}}
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <div class="elfsight-app-b3e668d0-1c71-4b80-9812-b4a063d91f84"></div>
</div>
{{/partial}}
{{> layout/base}}