<div class="themevale_productDescription">
    <div class="productView-description" {{#if schema}} itemprop="description" {{/if}}>
        <ul class="tabs tabs-custom-2" data-tab>
            {{#if product.description}}
            <li class="tab is-active">
                <a class="tab-title" href="#tab-description">{{lang 'products.description'}}</a>
            </li>
            {{/if}}
            {{#if product.warranty}}
            <li class="tab">
                <a class="tab-title" href="#tab-warranty">{{lang 'products.warranty'}}</a>
            </li>
            {{/if}}
            <li class="tab">
                <a href="#tab-shipping" class="tab-title">{{theme_settings.products_tab-title-1}}</a>
            </li>
        </ul>
        <div class="tabs-contents">
            <div class="tab-content is-active" id="tab-description">
                <div class="toggle-title">
                    <a class="toggleLink is-open" data-collapsible href="#tabDescription-content">
                        <span class="page-heading">{{lang 'products.description'}}</span>
                        <svg class="icon">
                            <use xlink:href="#icon-slick-next" />
                        </svg>
                    </a>
                </div>
                <div class="toggle-content is-open" id="tabDescription-content" aria-hidden="false" {{#if
                    settings.data_tag_enabled}} data-event-type="product" {{/if}}>
                    {{{product.description}}}
                    {{{snippet 'product_description'}}}
                </div>
            </div>
            {{#if product.warranty}}
            <div class="tab-content" id="tab-warranty">
                <div class="toggle-title">
                    <a class="toggleLink" data-collapsible href="#tabWarranty-content">
                        <span class="page-heading">{{lang 'products.warranty'}}</span>
                        <svg class="icon">
                            <use xlink:href="#icon-slick-next" />
                        </svg>
                    </a>
                </div>
                <div class="toggle-content" id="tabWarranty-content" aria-hidden="false">
                    {{{product.warranty}}}
                </div>
            </div>
            {{/if}}
            <div class="tab-content" id="tab-shipping">
                <div class="toggle-title">
                    <a class="toggleLink" data-collapsible href="#tabShipping-content">
                        <span class="page-heading">{{theme_settings.products_tab-title-1}}</span>
                        <svg class="icon">
                            <use xlink:href="#icon-slick-next" />
                        </svg>
                    </a>
                </div>
                <div class="toggle-content" id="tabShipping-content" aria-hidden="false">
                    {{> components/themevale/tabs/tab-shipping}}
                </div>
            </div>
        </div>
    </div>

</div>
<div class="product-features">
    <ul class="services">
        <li class="item">
            <div class="service-item">
                <div class="icons">
                    <i class="icon"><svg><use xlink:href="#{{theme_settings.products_services-icon-1}}"></use></svg></i>
                </div>
                <div class="content">
                    <h4 class="title">{{theme_settings.products_services-title-1}}</h4>
                    <p class="description">{{theme_settings.products_services-content-1}}</p>
                </div>
            </div>
        </li>
        <li class="item">
            <div class="service-item">
                <div class="icons">
                    <i class="icon"><svg><use xlink:href="#{{theme_settings.products_services-icon-2}}"></use></svg></i>
                </div>
                <div class="content">
                    <h4 class="title">{{theme_settings.products_services-title-2}}</h4>
                    <p class="description">{{theme_settings.products_services-content-2}}</p>
                </div>
            </div>
        </li>
        <li class="item">
            <div class="service-item">
                <div class="icons">
                    <i class="icon"><svg><use xlink:href="#{{theme_settings.products_services-icon-3}}"></use></svg></i>
                </div>
                <div class="content">
                    <h4 class="title">{{theme_settings.products_services-title-3}}</h4>
                    <p class="description">{{theme_settings.products_services-content-3}}</p>
                </div>
            </div>
        </li>
        <li class="item">
            <div class="service-item">
                <div class="icons">
                    <i class="icon"><svg><use xlink:href="#{{theme_settings.products_services-icon-4}}"></use></svg></i>
                </div>
                <div class="content">
                    <h4 class="title">{{theme_settings.products_services-title-4}}</h4>
                    <p class="description">{{theme_settings.products_services-content-4}}</p>
                </div>
            </div>
        </li>
    </ul>
</div>

{{#if product.related_products}}
<div class="toggle productRelated" id="product-related" data-product-related>
    <div class="toggle-title">
        <h4 class="page-heading">{{lang 'products.related_products'}}</h4>
    </div>
    <div class="toggle-content is-open" id="productRelated-content" aria-hidden="false">
        {{> components/products/related products=product.related_products theme_settings=theme_settings}}
    </div>
</div>
{{/if}}
{{#all settings.show_product_reviews}}
{{> components/products/reviews reviews=product.reviews product=product urls=urls}}
{{/all}}

{{#if product.similar_by_views}}
<div class="toggle productSimilar" id="product-similar" data-product-reviews>
    <div class="toggle-title">
        <h4 class="page-heading">{{lang 'products.similar_by_views'}}</h4>
    </div>
    <div class="toggle-content is-open" id="productSimilar-content" aria-hidden="false">
        {{> components/products/carousel products=product.similar_by_views theme_settings=theme_settings arrows=true}}
    </div>
</div>
{{/if}}