$primary: #f47a2a;

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

.search-by-vehicle {
  margin-top: -80px;
  padding-top: 130px;
}

.dmg-products {
  .page-heading {
    text-align: center;
  }
}

.dmg-products-dark-bg {
  background: #222;
  color: #fff;
  .page-heading {
    margin: 30px 0;
    color: #fff;
  }
  .slick-arrow {
    background: #fff;
    border-radius: 50%;
    fill: $primary;
    padding: 10px;
  }
  .slick-dots li button {
    background: #fff;
    border: 1px solid $primary;
  }
  .card {
    background: #fff;
    padding: 8px;
  }
}

.card-title {
  height: 44px !important;
  overflow: hidden;
}

.price-section {
  margin-bottom: 10px;
}

.price {
  font-size: 16px;
  font-weight: 700;
}

body #product_list ul.productGrid h4.card-title,
#product_list ul.productGrid li.product article.card h4 > a {
  height: 44px !important;
  overflow: hidden !important;
}
body .custom-product-filters input[type="checkbox"],
.custom-product-filters input[type="radio"] {
  width: auto;
  margin: 5px 5px 0 0;
}

body .custom-product-filters .accordion-content li.navList-item > input,
.custom-product-filters .accordion-content li.navList-item > label {
  max-width: 90%;
}

.custom-product-filters .accordion-content .navList .arw {
  right: -5px;
  top: 4px;
}

.result-filters .productGrid .product.threeColumnLayout .sale-text {
  background: red;
  color: #fff;
  font-size: 14px;
  padding: 2px 5px;
  font-weight: 700;
}

.dmg-products--featured {
  position: relative;
  margin: 60px 0 0 0;
  .productCarousel.slick-slider.slick-dotted {
    margin-bottom: 60px;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000, 0.5);
    z-index: 0;
  }
  .page-heading {
    position: relative;
    z-index: 2;
    max-width: 340px;
    width: 100%;
    padding: 0 0 10px;
    margin: -15px auto 50px auto;
    background: #fafafa;
    min-height: 42px;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 0;
      height: 0;
      border-top: 42px solid #fafafa;
    }
    &::before {
      left: -25px;
      border-left: 25px solid transparent;
    }
    &::after {
      right: -25px;
      border-right: 25px solid transparent;
    }
  }
  .card {
    background: #fff;
    padding: 8px;
  }
  .card-body > :last-child {
    margin-bottom: 0;
  }
  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
  .slick-arrow {
    background: #fff;
    border-radius: 50%;
    fill: $primary;
    padding: 10px;
  }
  .slick-dots li button {
    background: #fff;
    border: 1px solid $primary;
  }
}

.dmg-decor-top {
  display: block;
  height: 25px;
  overflow: hidden;
  width: 100%;
  background: #fafafa;
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 15%;
    height: 100%;
    background: #222;
    bottom: 0;
  }
  &::before {
    left: -15px;
    transform: skewX(30deg);
  }
  &::after {
    right: -15px;
    transform: skewX(-30deg);
  }
}

.dmg-decor-bottom {
  display: block;
  height: 25px;
  overflow: hidden;
  width: 100%;
  position: relative;
  z-index: 2;
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 15%;
    height: 100%;
    background: #fafafa;
    top: 0;
  }
  &::before {
    left: -15px;
    transform: skewX(30deg);
  }
  &::after {
    right: -15px;
    transform: skewX(-30deg);
  }
}

.dmg-products__inner {
  position: relative;
  z-index: 2;
}

.dmg-categories {
  padding: 50px 0;
}

.mb-lg-60 {
  @media (min-width: 768px) {
    margin-bottom: 60px;
  }
}

#sticky_addtocart .product-wrapper > .product-image img {
  max-height: 85px;
}

.dmg-categories__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  @media (max-width: 767px) {
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.dmg-subcategories {
  padding: 0 0 50px 0;
  max-height: 220px;
  overflow: hidden;
  @media (max-width: 767px) {
    max-height: none;
  }
}

.dmg-category {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  @media (max-width: 767px) {
    height: 260px;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000, 0.45);
    z-index: 2;
  }
  &:hover {
    img {
      transform: scale(1.1);
      filter: blur(3px);
    }
  }
  h3 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    z-index: 3;
    margin: 0;
    padding: 15px;
  }
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    z-index: 1;
  }
}

.button--primary {
  color: #222;
  &:hover,
  &:focus,
  &:active {
    color: #222;
  }
  @media (min-width: 1025px) {
    &:hover,
    &:focus,
    &:active {
      color: #222;
    }
  }
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #6e6e6e;
}

@keyframes scroll {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.header--fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  animation: scroll 0.5s ease-in-out;
  z-index: 999;

  .logo__fixed {
    display: block;
  }
  .logo__regular {
    display: none;
  }
  .header__logo {
    margin-top: 0;
    margin-bottom: 0;
  }
  .search__body {
    height: 35px;
  }
  .header__navbar {
    min-height: auto;
  }
  .header__search {
    bottom: -20px;
  }
}

.logo__fixed {
  display: none;
  max-width: 90px;
  height: 80px;
}

.card-body .card-title {
  min-height: 44px;
}

.main-shop-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #222;
  color: #fff;
  text-align: center;
  padding: 40px 0 0;
  .page-heading {
    color: $primary;
    margin: 0 0 15px;
  }
  .button {
    margin-bottom: 15px;
  }
  p {
    padding: 0 0 15px;
  }
  @media (max-width: 767px) {
    br {
      display: none;
    }
  }
}
.productView-thumbnail-link {
  height: 90px;
  @media(max-width: 767px) {
    height: 75px;
  }
}
.productView-thumbnail-link--video {
  &:hover {
    svg {
      transform: scale(1.1);
    }
  }
  width: 100%;
  &::after {
    padding-bottom: 0;
  }
  img {
    opacity: 0.5;
  }
  .video-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  span {
    display: none;
  }
  svg {
    width: 50px;
    transition: all .15s ease-in-out;
  }
}

#affirm-info {
  min-height: 50px;
  margin-bottom: 15px;
}

.form-option-wrapper {
  display: inline-block;
}

.search-by-vehicle {
  .page-heading {
    text-align: center;
  }
}

.tab-link {
  font-size: 18px;
  font-weight: 600;
}

.dmg-subcategory {
  display: flex;
  flex-direction: column;
  &:hover {
    img {
      transform: scale(1.05);
    }
  }
  img {
    display: block;
    width: 100%;
    height: 94px;
    object-fit: contain;
    transition: all 0.2s ease-in-out;
  }
  .image {
    background: #fff;
    overflow: hidden;
  }
  .content {
    margin-top: 15px;
  }
  .title {
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #000;
    font-weight: 600;
    text-align: center;
    margin: 0;
  }
}

.dmg-subcategories {
  display: block;
  @media (max-width: 767px) {
    display: none;
  }
}

.dmg-subcategories--mobile {
  display: none;
  @media (max-width: 767px) {
    display: block;
  }
}

.dmg-subcategories__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 15px;
  list-style: none;
  padding: 0;
  max-width: 330px;
  margin: 0 auto;
  .title {
    margin-bottom: 15px;
  }
  .image {
    height: 90px;
  }
  .dmg-subcategory {
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
}

.dmg-subcategories__btn {
  display: none;
}

.warehouse-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.warehouse-subcategories {
  margin: 0 0 50px;
}
.warehouse-list a {
  display: block;
  padding: 5px 10px;
  margin: 5px;
  background: #222;
  color: #fff;
  font-weight: 700;
  &:hover {
    background: $primary;
  }
}

.socials-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  li:not(:last-child) {
    margin-right: 10px;
  }
  a {
    color: #fff;
    &:hover {
      color: $primary;
    }
  }
}

.footer {
  a,
  p {
    font-size: 14px;
  }
}

.themevale_Mobile.themevale_MobileSidebar {
  z-index: 9999;
}

.productView-price .price {
  font-size: 22px;
}

.footer .form-prefixPostfix .form-input::placeholder {
  color: #000;
}

.heroCarousel-action {
  color: #222;
}

@media (max-width: 767px) {
  body {
    font-size: 16px;
  }
  .form-input,
  .tab-content {
    font-size: 16px;
  }
  .themevale_productDescription .page-heading {
    font-size: 24px;
  }
  .tab-content h6 {
    font-size: 20px;
  }
  .dmg-subcategory .image {
    background: #fafafa;
  }
  .themevale_productDescription .productView-description .tab-content {
    background: #fff;
    padding: 30px 15px;
  }
  .dmg-subcategory img {
    height: 90px;
  }
  .dmg-subcategories__btn {
    display: block;
    margin: 30px auto 0 auto;
  }
  .themevale_breadcrumbCategory .page-heading {
    text-align: center;
  }
  .four-dropdownsPerRow select,
  .button-action button {
    border-radius: 0 !important;
  }
  .slick-dots li {
    margin: 0 8px;
  }
  .slick-dots {
    bottom: -40px;
  }
  .slick-dots li button {
    width: 16px;
    height: 16px;
  }
  .heroCarousel-action {
    display: inline;
  }
  .heroCarousel-content {
    top: 84%;
  }
}

@media (max-height: 900px) {
  .departments__megamenu-inner::-webkit-scrollbar {
    width: 0;
  }

  .departments__megamenu-inner {
    overflow-x: hidden;
    height: 90vh;
    padding-bottom: 150px;
  }

  .departments__megamenu-inner .megamenu__image {
    opacity: 0.4;
  }
}

.eapps-instagram-feed-posts-grid-load-more-text {
  background: $primary;
  color: #222;
  font-weight: 700;
}

.custom-product-filters
  .facetApplied
  a[data-applied-custom-facet="ymm-pfilter-clearall"],
#toggle-ymm-price-values .button,
.price-range-slider .range-bar .ui-slider-handle + span {
  background: $primary;
}

.category-description {
  margin: 0 0 40px;
}

.all-categories-list .dropdown-category-list .navPage-subMenu-item a {
  margin-right: 20px;
}

.main.full {
  overflow: hidden;
}

.heroCarousel .slick-arrow {
  border: 2px solid transparent;
}

.heroCarousel .slick-arrow:hover {
  border: 2px solid white;
}

.menu-btn-item {
  animation: menu-btn 1s ease-in-out;
}

@keyframes menu-btn {
  0% {
    opacity: 0;
    transform: translateX(-50px);
    fill: #f47a2a;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    fill: #222;
  }
}

.css-9z33oj .sd-product-set__bullet-active {
  background: $primary !important;
}

.css-8fi82c {
  border: 1px solid $primary !important;
}

.css-1clkqco a {
  font-size: 16px !important;
  font-weight: 700 !important;
  line-height: 1;
}

.sd-product-set__arrow--right,
.sd-product-set__arrow--left {
  background: $primary !important;
}

#dmg-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  @media (max-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }
}

.dmg-products__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ymm-search #fitment-form,
#tires-search #fitment-form {
  background: #222;
  color: #fff;
  padding: 30px 15px;
}

#ymm-search .form-row,
#tires-search .form-row {
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 767px) {
    flex-direction: column;
  }
}

#ymm-search select,
#tires-search select {
  border-radius: 0;
  font-size: 16px;
  width: 240px;
  border: 1px solid #f47a2a;
  @media (max-width: 767px) {
    width: 100%;
  }
}

#ymm-search .form-group,
#tires-search .form-group {
  &:not(:last-child) {
    margin-right: 15px;
  }
  @media (max-width: 767px) {
    width: 100%;
    &:not(:last-child) {
      margin-right: 0;
    }
  }
}

#ymm-search .modal-footer,
#tires-search .modal-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#tires-search {
  margin-bottom: 30px;
}

#tires-results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tires-results .productGrid {
  width: 100%;
}

.button--tires-reset {
  height: 35px;
  padding: 5px 15px;
}

#tires-search .form-row--tires {
  align-items: flex-end;
  @media (max-width: 767px) {
    align-items: center;
  }
}
#tires-container,
#ymm-results {
  @media (max-width: 550px) {
    .productGrid .product {
      width: 100%;
    }
  }
}

.button--tires-reset {
  display: block;
  margin: 0 auto;
  @media (max-width: 767px) {
    min-width: 240px;
  }
}

#vehicle-title {
  display: none;
  color: #fff;
}

#ymm-search-btn {
  display: none;
  margin-bottom: 15px;
}

#ymm-search-input {
  padding: 10px 15px;
  border: 1px solid #f47a2a;
  background: #fff;
  border-radius: 0;
  margin: 0 0 50px;
  width: 50%;
  @media (max-width: 767px) {
    width: 100%;
    margin: 0 0 30px;
  }
}

#ymm-results {
  .card-sku {
    margin: 0 0 5px;
  }
  h4 {
    margin-top: 0;
  }
  .pagination-list {
    display: block !important;
  }
}

.megamenu__links
  > .megamenu-links__item:not(.megamenu-links__item--has-submenu):not(
    :last-child
  ) {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 5px;
  margin-bottom: 12px;
}

.affirm-modal-trigger {
  color: #de2312;
  text-decoration: underline;
}

.productView-image > img {
  background: #fff;
}

.warning-message {
  border: 1px solid #eee;
  border-top: none;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;

  svg {
    margin-right: 5px;
  }

  p {
    margin: 0;
  }

  a {
    text-decoration: underline;
  }

  @media (max-width: 1024px) {
    border-top: 1px solid #eee;
    svg {
      width: 42px;
      height: 42px;
      margin-right: 10px;
    }
  }
}
