$primary: #ef4838;

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

.search-by-vehicle {
  margin-top: -80px;
  padding-top: 130px;
}

.dmg-products {
  .page-heading {
    text-align: center;
  }
}

.dmg-products--featured {
  position: relative;
  margin: 60px 0 0 0;
  .productCarousel.slick-slider.slick-dotted {
    margin-bottom: 60px;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000, 0.5);
    z-index: 0;
  }
  .page-heading {
    position: relative;
    z-index: 2;
    max-width: 340px;
    width: 100%;
    padding: 0 0 10px;
    margin: -15px auto 50px auto;
    background: #fafafa;
    min-height: 42px;
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      width: 0;
      height: 0;
      border-top: 42px solid #fafafa;
    }
    &::before {
      left: -25px;
      border-left: 25px solid transparent;
    }
    &::after {
      right: -25px;
      border-right: 25px solid transparent;
    }
  }
  .card {
    background: #fff;
    padding: 8px;
  }
  .card-body > :last-child {
    margin-bottom: 0;
  }
  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
  .slick-arrow {
    background: #fff;
    border-radius: 50%;
    fill: $primary;
    padding: 10px;
  }
  .slick-dots li button {
    background: #fff;
    border: 1px solid $primary;
  }
}

.dmg-products__decor {
  height: 20px;
  overflow: hidden;
  width: 100%;
  position: relative;
  z-index: 2;
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 15%;
    height: 100%;
    background: #fafafa;
  }
  &::before {
    left: -15px;
    transform: skewX(30deg);
  }
  &::after {
    right: -15px;
    transform: skewX(-30deg);
  }
}

.dmg-products__inner {
  position: relative;
  z-index: 2;
}

.dmg-categories {
  padding: 50px 0;
}

.dmg-categories__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  @media (max-width: 767px) {
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.dmg-subcategories {
  padding: 0 0 50px 0;
}

.dmg-category {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  @media (max-width: 767px) {
    height: 260px;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000, 0.45);
    z-index: 2;
  }
  &:hover {
    img {
      transform: scale(1.1);
      filter: blur(3px);
    }
  }
  h3 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    z-index: 3;
    margin: 0;
    padding: 15px;
  }
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    z-index: 1;
  }
}

.button--primary {
  color: stencilColor("button--primary-color");
  &:hover,
  &:focus,
  &:active {
    color: stencilColor("button--primary-color");
  }
  @media (min-width: 1025px) {
    &:hover,
    &:focus,
    &:active {
      color: stencilColor("button--primary-colorHover");
    }
  }
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #6e6e6e;
}

@keyframes scroll {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.header--fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  animation: scroll 0.5s ease-in-out;
  z-index: 999;

  .logo__fixed {
    display: block;
  }
  .logo__regular {
    display: none;
  }
  .header__logo {
    margin-top: 0;
    margin-bottom: 0;
  }
  .search__body {
    height: 35px;
  }
  .header__navbar {
    min-height: auto;
  }
  .header__search {
    bottom: -20px;
  }
}

.logo__fixed {
  display: none;
  max-width: 90px;
  height: 80px;
}

.card-body .card-title {
  min-height: 44px;
}

.main-shop-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #333;
  color: #fff;
  text-align: center;
  padding: 40px 0;
  .page-heading {
    color: $primary;
    margin: 0 0 15px;
  }
  p {
    padding: 0 0 15px;
  }
  @media (max-width: 767px) {
    br {
      display: none;
    }
  }
}

.search-by-vehicle {
  .page-heading {
    text-align: center;
  }
}

.dmg-subcategory {
  display: flex;
  flex-direction: column;
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
  img {
    display: block;
    width: 100%;
    height: 100px;
    object-fit: contain;
    transition: all 0.2s ease-in-out;
  }
  .image {
    background: #fff;
    overflow: hidden;
  }
  .content {
    margin-top: 15px;
  }
  .title {
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #000;
    font-weight: 600;
    text-align: center;
    margin: 0;
  }
}

.dmg-subcategories {
  display: block;
  @media(max-width: 767px) {
    display: none;
  }
}

.dmg-subcategories--mobile {
  display: none;
  @media(max-width: 767px) {
    display: block;
  }
}

.dmg-subcategories__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 15px;
  list-style: none;
  padding: 0;
  max-width: 330px;
  margin: 0 auto;
  .title {
    margin-bottom: 15px;
  }
  .image {
    height: 90px;
  }
  .dmg-subcategory {
    overflow: hidden;
    transition: all .5s ease-in-out;
  }
}

.dmg-subcategories__btn {
  display: none;
}

@media(max-width: 767px) {
  .dmg-subcategory .image {
    background: #fafafa;
  }
  .dmg-subcategory img {
    height: 90px;
  }
  .dmg-subcategories__btn {
    display: block;
    margin: 30px auto 0 auto;
  }
  .themevale_breadcrumbCategory .page-heading {
    text-align: center;
  }
}

@media(max-height: 900px) {
  .departments__megamenu-inner::-webkit-scrollbar {
    width: 0;
  }
  
  .departments__megamenu-inner {
    overflow-x: auto;
    height: 90vh;
  }
  
  .departments__megamenu-inner .megamenu__image {
    opacity: .4;
  }
}

.eapps-instagram-feed-posts-grid-load-more-text {
  background: $primary;
}

.custom-product-filters .facetApplied a[data-applied-custom-facet="ymm-pfilter-clearall"],
#toggle-ymm-price-values .button,
.price-range-slider .range-bar .ui-slider-handle + span {
  background: $primary;
}

.category-description {
  margin: 0 0 40px;
}

.all-categories-list .dropdown-category-list .navPage-subMenu-item a {
  margin-right: 20px;
}

.main.full {
  overflow: hidden;
}

.heroCarousel .slick-arrow {
  border: 2px solid transparent;
}

.heroCarousel .slick-arrow:hover {
  border: 2px solid white;
}

.menu-btn-item {
  animation: menu-btn 1s ease-in-out;
}

@keyframes menu-btn {
  0%{
    opacity: 0;
    transform: translateX(-50px);
    fill: #ef4838;
  }
  100%{
    opacity: 1;
    transform: translateX(0);
    fill: #333;
  }
}