<div class="themevale_section themevale_review">
    <div class="container"> 
        <div class="page-heading-wrapper">
            <h4 class="page-heading">{{lang 'products.reviews.title'}}</h4>
        </div>
        <div class="customer-review-carousel" data-slick='{
            "dots": true,
            "arrows": false,
            "autoplay": false,
            "slidesToShow": 1, 
            "slidesToScroll": 1, 
            "adaptiveHeight": true,
            "mobileFirst": true,
            "responsive": [
                {
                    "breakpoint": 1100,
                    "settings": {
                        "dots":true,
                        "arrows": false,
                        "slidesToShow": 2,
                        "slidesToScroll": 2,
                        "autoplay": true,
                        "autoplaySpeed": 7000
                    }
                },
                {
                    "breakpoint": 768,
                    "settings": {
                        "slidesToShow": 2,
                        "slidesToScroll": 2
                    }
                }
            ]}'>
            <div class="review-item">
                <div class="customer-review">
                    <div class="image">
                        <img src="https://cdn11.bigcommerce.com/s-35csgqmz9s/images/stencil/190x190/products/812/1790/light-8__59459__79438.1554784185.jpg?c=2" alt="">
                    </div>
                    <div class="content">
                        <p class="card-brand" data-test-info-type="brandName">Tomorrow®</p>
                        <h4 class="card-title">
                            <a href="/sample-hivamus-imperdiet-vellectus-eleifend-thiam/">(Sample) Tempus es lortis ados delos lorem tempus cosmo sapiendos</a>
                        </h4>
                        <article class="productReview" itemscope="" itemtype="http://schema.org/Review">
                            <header class="is-sticky">
                                <h5 itemprop="name" class="productReview-title">Look Amazing</h5>
                                <span class="productReview-rating rating--small" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
                                    {{> components/products/ratings rating=5}}
                                </span>
                                <p class="productReview-author">
                                    Posted by ThemeVale on 26th Sep 2018
                                </p>
                            </header>
                            <p itemprop="reviewBody" class="productReview-body">Duis an turpis de nor multricies honcus. Morbi aliquet sem non orci lacinia posuere nam eget efficitur nibh. Aenean nec ornare ipsum...</p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="review-item">
                <div class="customer-review">
                    <div class="image">
                        <img src="https://cdn11.bigcommerce.com/s-35csgqmz9s/images/stencil/190x190/products/743/1523/wheel_arch-8__12181__20333.1554784129.jpg?c=2" alt="">
                    </div>
                    <div class="content">
                        <p class="card-brand" data-test-info-type="brandName">High Speed Gear®</p>
                        <h4 class="card-title">
                            <a href="/sample-hivamus-imperdiet-vellectus-eleifend-thiam/">(Sample) Magnes de darturien cosmopolis an deros laciniados</a>
                        </h4>
                        <article class="productReview" itemscope="" itemtype="http://schema.org/Review">
                            <header class="is-sticky">
                                <h5 itemprop="name" class="productReview-title">Very Nice Wheels & Rims</h5>
                                <span class="productReview-rating rating--small" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
                                    {{> components/products/ratings rating=5}}
                                </span>
                                <p class="productReview-author">
                                    Posted by halothemes on 30th Sep 2018
                                </p>
                            </header>
                            <p itemprop="reviewBody" class="productReview-body">Phasellus volutpat magna id mauris sodales et ornare urna molestie. Mauris non sem tincidunt, hendrerit nisi quis honcus felis. Suspendisse tempus mi durna in mattis de nilos egestas quis. Proin nisi justo consectetur sed lacus.</p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="review-item">
                <div class="customer-review">
                    <div class="image">
                        <img src="https://cdn11.bigcommerce.com/s-35csgqmz9s/images/stencil/190x190/products/754/1566/wheel_arch-12__72844__27556.1554784143.jpg?c=2" alt="">
                    </div>
                    <div class="content">
                        <p class="card-brand" data-test-info-type="brandName">Donatello®</p>
                        <h4 class="card-title">
                            <a href="/sample-hivamus-imperdiet-vellectus-eleifend-thiam/">(Sample) Bibendum nisl id urna elementum variusex felis</a>
                        </h4>
                        <article class="productReview" itemscope="" itemtype="http://schema.org/Review">
                            <header class="is-sticky">
                                <h5 itemprop="name" class="productReview-title">Awesome...</h5>
                                <span class="productReview-rating rating--small" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
                                    {{> components/products/ratings rating=5}}
                                </span>
                                <p class="productReview-author">
                                    Posted by Mars Diep on 29th Sep 2018
                                </p>
                            </header>
                            <p itemprop="reviewBody" class="productReview-body">Cosmopolis tempus mi durna in mattis de nilos egestas quis. Proin nisi justo consectetur sed lacus. Sedcus faucibus an sullamcorper mattis drostique des commodo pharetras loremos.</p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="review-item">
                <div class="customer-review">
                    <div class="image">
                        <img src="https://cdn11.bigcommerce.com/s-35csgqmz9s/images/stencil/190x190/products/809/1774/performance-1d__35582__24444.1554784181.jpg?c=2" alt="">
                    </div>
                    <div class="content">
                        <p class="card-brand" data-test-info-type="brandName">Tomorrow®</p>
                        <h4 class="card-title">
                            <a href="/sample-hivamus-imperdiet-vellectus-eleifend-thiam/">(Sample) Hivamus imperdiet vellectus eleifend thiam</a>
                        </h4>
                        <article class="productReview" itemscope="" itemtype="http://schema.org/Review">
                            <header class="is-sticky">
                                <h5 itemprop="name" class="productReview-title">Nice Support</h5>
                                <span class="productReview-rating rating--small" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
                                    {{> components/products/ratings rating=5}}
                                </span>
                                <p class="productReview-author">
                                    Posted by Phien Dragon on 28th Sep 2018
                                </p>
                            </header>
                            <p itemprop="reviewBody" class="productReview-body">Phasellus volutpat magna id mauris sodales et ornare urna molestie. Mauris non sem tincidunt, hendrerit nisi quis honcus felis. Cosmopolis tempus mi durna in mattis de nilos egestas quis. Proin nisi justo consectetur sed lacus. Sedcus faucibus an sullamcorper mattis drostique des commodo pharetras loremos.</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
